<h1><a href="{{docsHome}}">Documentation:</a> {{pathName}}</h1>
{{#with (extractCrossCuttingSummary this) as |crossCuttingSummary|}}
<section>
    <h2>Cross Cutting Summary</h2>

    {{#each crossCuttingSummary}}
    <h3>{{@key}}</h3>

    {{#if (isArray this)}}
    {{#if this.length}}
    <ul>
        {{#each this}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
    {{else if (isObject this)}}
    <ul>
        {{#each this}}
        <li>{{@key}}: {{this}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>{{this}}</p>
    {{/if}}
    {{/each}}
</section>
{{/with}}


<h2>Modules</h2>
<ul>
    {{#each modules}}
    <li><a href="{{url}}">{{name}}</a></li>
    {{/each}}
</ul>
