<h1><a href="{{docsHome}}">Documentation:</a> {{pathName}}</h1>

{{#if crossCuttingSummary}}
<section>
    <h2>Cross Cutting Summary</h2>

    {{#if crossCuttingSummary.themes}}
    {{#if crossCuttingSummary.themes.length}}
    <h3>Themes</h3>
    <ul>
        {{#each crossCuttingSummary.themes}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
    {{/if}}

    {{#if crossCuttingSummary.systemRecommendations}}
    {{#if crossCuttingSummary.systemRecommendations.length}}
    <h3>System Recommendations</h3>
    <ul>
        {{#each crossCuttingSummary.systemRecommendations}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
    {{/if}}

</section>
{{/if}}

<h2>Modules</h2>
<ul>
    {{#each modules}}
    <li><a href="{{url}}">{{name}}</a></li>
    {{/each}}
</ul>
