{{!-- pages/post.handlebars --}}

{{#section "styles"}}
<link rel="stylesheet" href="{{baseUrl}}/static/css/post.css" />
{{/section}}

{{#section "scripts"}}
<script src="{{baseUrl}}/static/js/prism.js"></script>
<script src="{{baseUrl}}/static/js/sticky-toc.js"></script>
<script src="{{baseUrl}}/static/js/post.js"></script>
{{/section}}

<div class="markdown-content">
  {{{content}}}
</div>
