{{!-- pages/presentation.handlebars --}}
<div class="reveal">
    <div class="slides">
        <section>
            <h1>{{title}}</h1>
        </section>

        {{#each slides}}
        <section>
            <h2>{{heading}}</h2>

            <div class="slide-content-wrapper">
                {{#if paragraphs}}
                <div class="content-block content-paragraphs">
                    {{#each paragraphs}}
                    <p>{{{this}}}</p>
                    {{/each}}
                </div>
                {{/if}}

                {{#if listItems}}
                <div class="content-block content-list">
                    <ul>
                        {{#each listItems}}
                        <li>
                            {{{text}}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if images}}
                <div class="content-block slide-images">
                    {{#each images}}
                    <a class="lightbox-image" href="{{src}}">
                        <img src="{{src}}" alt="{{alt}}" data-preview-image="{{src}}" class="reveal-lightbox-img" />
                    </a>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </section>
        {{/each}}
    </div>
</div>
