{{!-- pages/handlebars --}}

{{#section "styles"}}
<link rel="stylesheet" href="{{baseUrl}}/static/css/tag_posts.css">
{{/section}}

<h1>Posts tagged with "{{tag}}"</h1>

{{#if posts.length}}
<ul class="tag-post-list">
    {{#each posts}}
    <li class="tag-post-item">
        <a href="{{this.loc}}" class="tag-post-link">{{this.title}}</a>
        <p class="tag-post-excerpt">{{this.excerpt}}</p>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No posts found for this tag.</p>
{{/if}}
