{{!-- pages/presentation.handlebars --}}

<div class="reveal">
    <div class="slides">
        <section>
            <h1>{{title}}</h1>
        </section>

        {{#each slides}}
        <section>
            <h2>{{number}}. {{heading}}</h2>

            {{#if paragraphs}}
            {{#each paragraphs}}
            <p>{{this}}</p>
            {{/each}}
            {{/if}}

            {{#if listItems}}
            <ul>
                {{#each listItems}}
                <li>
                    {{{text}}}
                    {{#if images}}
                    <br />
                    {{#each images}}
                    <img src="{{src}}" alt="{{alt}}" />
                    {{/each}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{/if}}

        </section>
        {{/each}}
    </div>
</div>
