<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="alternate" type="application/rss+xml" title="Jason Poage's Blog RSS Feed" href="{{baseUrl}}/rss-feed.xml">
<link href="{{baseUrl}}/static/css/styles.css" rel="stylesheet" type="text/css">
{{{_sections.styles}}}

<script type="text/javascript" src="{{baseUrl}}/static/js/track.js"></script>

<title>{{title}}</title>

{{> favicon_headers }}

{{{_sections.headers}}}
