<!DOCTYPE html>
<html lang="en" data-view-type="{{viewType}}">

<head>
  {{> site_headers }}
</head>

<body class="{{css.classes.body}}">
  {{#if showHeader}}
    {{> page_headers}}
  {{/if}}
  <div class="{{css.classes.layout}}">
    {{#if showSidebar}}
    <aside class="{{css.classes.sidebar}}">
      <nav>
        {{> postsMenu }}
      </nav>
    </aside>
    {{/if}}
    <main class="{{css.classes.container}}">
      {{{body}}}
    </main>
  </div>
  {{#if showFooter}}
  <footer>
    {{> footer}}
  </footer>
  {{/if}}
  {{{_sections.scripts}}}
</body>

</html>
