<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/rss+xml" title="Jason Poage's Blog RSS Feed"
        href="{{baseUrl}}/rss-feed.xml" />

    <link href="{{baseUrl}}/static/css/styles.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{baseUrl}}/static/js/track.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.3.1/dist/reveal.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.3.1/dist/theme/black.css" />
    <link rel="stylesheet" href="{{baseUrl}}/static/css/presentation.css" />
    {{{_sections.styles}}}
    <title>{{title}}</title>
    {{> favicon-headers}}
    {{{_sections.headers}}}

</head>

<body>
    {{> headers}}
    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/reveal.js@4.3.1/dist/reveal.js"></script>
    <script nonce="{{nonce}}">
        Reveal.initialize({
            controls: true,
            progress: true,
            slideNumber: true,
            history: true,
            center: true,
            transition: 'slide'
        });
    </script>
</body>

</html>
